html {
    height: 95%;
}
body {
    min-height: 100%;
}

#project-network {
    height: 100vh;
}

.toolbar {
    margin-top: 1rem;
    padding: 0 0.25rem 0.25rem 0.25rem;
    border-bottom: 1px solid var(--vscode-focusBorder);
}

.toolbar button {
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
