/* --- Toolbar styles --- */
.toolbar {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0 0.25rem 0.25rem 0.25rem;
    border-bottom: 1px solid var(--vscode-focusBorder);
}

/* Buttons and their icons */
.toolbar button {
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}
.toolbar button.icon-btn {
    display: inline-flex;
    align-items: flex-end;
}
.toolbar button.icon-btn .svg-icon {
    margin-right: 0.25rem;
    height: 18px;
    width: 18px;
    fill: var(--vscode-button-foreground);
}
.toolbar button.icon-btn .svg-icon.right {
    margin-right: 0;
    margin-left: 0.25rem;
}

/* Dropdown menu for node visibility toggles */
.toolbar .dropdown-toggle-container {
    display: inline-block;
    position: relative;
}

.toolbar #dropdown-btn .svg-icon {
    display: none;
}
.toolbar #dropdown-btn .svg-icon.shown {
    display: block;
}

.toolbar .dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    min-width: 14rem;
    border: 3px solid var(--vscode-focusBorder);
    background-color: #FAF9F6;
    color: #272B2E;
    z-index: 1;
}
.toolbar .dropdown-content.shown {
    display: flex;
}

.toolbar .dropdown-content .row {
    display: flex;
    align-items: baseline;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-bottom: 2px solid var(--vscode-focusBorder);
}
.toolbar .dropdown-content .row:last-child {
    border-bottom: 0;
}

/* Transparency toggle */
.toolbar .transparency-toggle {
    display: inline-flex;
    margin-right: 0.5rem;
}


/* --- Details container styles --- */
.details-container {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    border: 3px solid var(--vscode-focusBorder);
    background-color: #FAF9F6;
    color: #272B2E;
}

.details-container .row {
    display: flex;
    align-items: baseline;
    padding: 0 0.5rem 0.25rem;
    border-bottom: 2px solid var(--vscode-focusBorder);
}
.details-container .row:last-child {
    border-bottom: 0;
}

.details-container .col.key {
    padding-right: 0.5rem;
    font-weight: bold;
    font-size: 14px;
}


/* --- Vis JS Network styles --- */
#project-network {
    height: calc(100vh - 4.25rem);
    background-color: unset;
}
#project-network.fill-background {
    background-color: white;
    border: 3px solid var(--vscode-focusBorder);
}


/* Nav buttons: Remove existing background images */
.vis-navigation .vis-button.vis-up,
.vis-navigation .vis-button.vis-down,
.vis-navigation .vis-button.vis-left,
.vis-navigation .vis-button.vis-right, 
.vis-navigation .vis-button.vis-zoomExtends, 
.vis-navigation .vis-button.vis-zoomIn,
.vis-navigation .vis-button.vis-zoomOut {
    background-image: none !important;
}

/* Nav buttons: Change icon position and colour */
.vis-navigation .vis-button .nav-icon {
    margin: 5px;
    fill: var(--vscode-button-background);
}
.vis-navigation .vis-button .nav-icon.high-contrast {
    fill: var(--vscode-focusBorder);
}

/* Nav buttons: Change icon hover colour */
.vis-navigation .vis-button:hover {
    box-shadow: none !important;
}
.vis-navigation .vis-button:hover .nav-icon {
    fill: var(--vscode-button-hoverBackground);
}
.vis-navigation .vis-button:hover .nav-icon.high-contrast {
    fill: var(--vscode-focusBorder);
}

/* Nav buttons: Change icon active colour */
.vis-navigation .vis-button:active {
    box-shadow: 0 0 1px 2px var(--vscode-focusBorder) !important;
}
